body {
  position: relative;
  padding-top: 70px;
}

ul {
  list-style-type: none;
}

.container-fluid {
  text-align: center;
}

/* Small devices */
@media (min-width: @screen-sm-min) {

}

/* Medium devices */
@media (min-width: @screen-md-min) {

}

/* Large devices */
@media (min-width: @screen-lg-min) {

}
