body {
  position: relative;
  padding-top: 70px;
  background-color: #000099;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

a.hover {
  text-decoration: underline;
}

.navbar {

}

ul {
  list-style-type: none;
}

.psa {
  padding-top: 70px;
}

/* Small devices */
@media (min-width: @screen-sm-min) {
  .psa {
    padding-top: 150px;
  }
}

/* Medium devices */
@media (min-width: @screen-md-min) {
  .psa {
    padding-top: 70px;
  }
}

/* Large devices */
@media (min-width: @screen-lg-min) {

}
